- var gsatType = "advanced"
- var gsatTypeName = "分科測驗"
- var latestYear = 112
- var years = [108, 109, 112]

include includes/template
form#adv-uac(target="_blank" method="POST"
	action="https://uac2.ncku.edu.tw/cross_search/index.php?c=search&m=detail")
		input#adv-dep-id(name="dep_id")
