- var gsatType = "advanced"
- var gsatTypeName = "分科測驗"
if ! gsatYear
	- var gsatYear = 112
if gsatYear != 112
	- var old = true

include includes/template
form#adv-uac(target="_blank" method="POST"
	action="https://uac2.ncku.edu.tw/cross_search/index.php?c=search&m=detail")
		input#adv-dep-id(name="dep_id")
