doctype html
- var gsatYear = 109
html
	head
		title 指考分發 - 學測五選四 109 年
		meta(name="keywords" content="學測五選四,指考分發,學測五選三")
		meta(property="og:title" content="學測五選四 - 指考分發 109 年")
		meta(property="og:url" content="https://sean.cat/gsat/advanced109")
		include includes/head.pug
		link(href="./style.advanced.css?v=1022" rel="stylesheet")
		script(type="application/ld+json").
			{
				"@context": "http://schema.org",
				"@type": "BreadcrumbList",
				"itemListElement": [
					{
						"@type": "ListItem",
						"position": 1,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/",
							"url":"https://sean.cat/",
							"name": "Sean's Website"
						}
					}, {
						"@type": "ListItem",
						"position": 2,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/gsat/",
							"url":"https://sean.cat/gsat/",
							"name": "學測五選四"
						}
					}, {
						"@type": "ListItem",
						"position": 3,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/gsat/advanced",
							"url":"https://sean.cat/gsat/advanced",
							"name": "指考分發"
						}
					}, {
						"@type": "ListItem",
						"position": 4,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/gsat/advanced109",
							"url":"https://sean.cat/gsat/advanced109",
							"name": "109 學年度"
						}
					}
				]
			}
	body
		nav.ts.basic.fluid.borderless.menu.horizontally.scrollable
			.ts.container
				a.item(href=".") 首頁
				a.item.hide1(href="apply109") 個人申請
				a.item.hide1(href="star109") 繁星推薦
				a.item.hide1.active(href="advanced") 指考分發
				.right.fitted.item
					a.item(target="_blank" href="https://www.sean.taipei/") 關於作者
		section.placeholder
			.placeholder-message
				p 指考共有十個科目，不適合小手機查詢，請以電腦開啟此頁面，或將手機畫面打橫著用
				p 抱歉造成您的不便，Sean 在這邊感謝您的體諒
				br
				a(href=".") 回到首頁
		header.ts.fluid.vertically.padded.heading.slate
			.ts.narrow.container
				.header 指考分發
				.description 學測五選四 109 學年度
		div.ts.container(name="main")
			- var old = true
			include includes/search.pug
		include includes/footer.pug
		script.
			var gsatType = "advanced";
			var gsatYear = "109";
			function getDetailLink(id) {
				return 'https://campus4.ncku.edu.tw/uac/cross_search/dept_info/' + id + '.html';
			}
		script(src="js/utils.js?v=1116")
		script(src="js/common.js?v=0225")
