doctype html
html
	head
		title 指考分發 - 學測五選四
		meta(name="keywords" content="學測五選四,指考分發")
		meta(name="description" content="假如您做好了指考的心理準備，來看看您心目中的科系採計了哪些科目，將力氣放在正確的考科上")
		meta(property="og:title" content="學測五選四 - 指考分發")
		meta(property="og:url" content="https://sean.cat/gsat/advanced")
		meta(property="og:description" content="假如您做好了指考的心理準備，來看看您心目中的科系採計了哪些科目，將力氣放在正確的考科上")
		meta(property="og:image" content="https://img.sean.taipei/2019/02/gsat-advanced.jpg")
		include includes/head.pug
		link(href="./style.advanced.css" rel="stylesheet")
		script(type="application/ld+json").
			{
				"@context": "http://schema.org",
				"@type": "BreadcrumbList",
				"itemListElement": [
					{
						"@type": "ListItem",
						"position": 1,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/",
							"url":"https://sean.cat/",
							"name": "Sean's Website"
						}
					}, {
						"@type": "ListItem",
						"position": 2,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/gsat/",
							"url":"https://sean.cat/gsat/",
							"name": "學測五選四"
						}
					}, {
						"@type": "ListItem",
						"position": 3,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/gsat/advanced",
							"url":"https://sean.cat/gsat/advanced",
							"name": "指考分發"
						}
					}
				]
			}
	body
		nav.ts.basic.fluid.borderless.menu.horizontally.scrollable
			.ts.container
				a.item(href=".") 首頁
				a.item.hide1(href="apply") 個人申請
				a.item.hide1(href="star") 繁星推薦
				b.item.hide1.active 指考分發
				.right.fitted.item
					b.item.cd
						| 指考倒數&nbsp;
						span#countdown 87
						| &nbsp;天
		section.placeholder
			.placeholder-message
				p 指考共有十個科目，不適合小手機查詢，請以電腦開啟此頁面，或將手機畫面打橫著用
				p 抱歉造成您的不便，Sean 在這邊感謝您的體諒
				br
				a(href=".") 回到首頁
		header.ts.fluid.vertically.padded.heading.slate
			.ts.narrow.container
				.header 指考分發
				.description 學測五選四
		div.ts.container(name="main")
			include includes/search.pug
		include includes/footer.pug
		script(src="js/advanced.js?v=0227")
		script(src="js/common.js?v=0629")
