doctype html
html
	head
		title 個人申請 - 學測五選四 108 年
		meta(name="keywords" content="學測五選四,個人申請,108 學年度,學測五選三")
		meta(property="og:url" content="https://sean.cat/gsat/apply108")
		meta(property="og:title" content="學測五選四 - 個人申請 108 年")
		include includes/head.pug
		script(type="application/ld+json").
			{
				"@context": "http://schema.org",
				"@type": "BreadcrumbList",
				"itemListElement": [
					{
						"@type": "ListItem",
						"position": 1,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/",
							"url":"https://sean.cat/",
							"name": "Sean's Website"
						}
					}, {
						"@type": "ListItem",
						"position": 2,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/gsat/",
							"url":"https://sean.cat/gsat/",
							"name": "學測五選四"
						}
					}, {
						"@type": "ListItem",
						"position": 3,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/gsat/apply",
							"url":"https://sean.cat/gsat/apply",
							"name": "個人申請"
						}
					}, {
						"@type": "ListItem",
						"position": 4,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/gsat/apply108",
							"url":"https://sean.cat/gsat/apply108",
							"name": "108 學年度"
						}
					}
				]
			}
	body
		nav.ts.basic.fluid.borderless.menu.horizontally.scrollable
			.ts.container
				a.item(href=".") 首頁
				a.item.active.hide1(href="apply") 個人申請
				a.item.hide1(href="star108") 繁星推薦
				a.item.hide1(href="advanced108") 指考分發
				.right.fitted.item
					a.item(target="_blank" href="https://www.sean.taipei/") 關於作者
		header.ts.fluid.vertically.padded.heading.slate
			.ts.narrow.container
				h1.header 個人申請
				.description 學測五選四 108 學年度
		div.ts.container(name="main")
			- var old = true
			include includes/search.pug
		include includes/footer.pug
		script.
			var gsatType = "apply";
			var gsatYear = "108";
			function getDetailLink(id) {
				return 'https://www.cac.edu.tw/apply108/system/108ColQry_forapply_3r5k9d/html/108_' + id + '.htm';
			}
		script(src="js/utils.js?v=1024")
		script(src="js/common.js?v=1014")
