doctype html
html
	head
		title 個人申請 - 學測五選四 110 年
		meta(name="keywords" content="學測五選四,個人申請,110學年度,學測五選三")
		meta(name="description" content="學測自 108 年開始最多參採四科，學測五選四網站旨在提供學弟妹們好用的查詢介面，受到全台師生廣大好評迴響，來看看您心目中的科系用了何種組合，該將準備心力放在哪些考科最有利")
		meta(property="og:url" content="https://sean.cat/gsat/apply")
		meta(property="og:title" content="學測五選四 - 個人申請 110 年")
		meta(property="og:description" content="學測自 108 年開始最多參採四科，學測五選四網站旨在提供學弟妹們好用的查詢介面，受到全台師生廣大好評迴響，來看看您心目中的科系用了何種組合，該將準備心力放在哪些考科最有利")
		meta(property="og:image" content="https://img.sean.taipei/2019/02/gsat.jpg")
		include includes/head.pug
		script(type="application/ld+json").
			{
				"@context": "http://schema.org",
				"@type": "BreadcrumbList",
				"itemListElement": [
					{
						"@type": "ListItem",
						"position": 1,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/",
							"url":"https://sean.cat/",
							"name": "Sean's Website"
						}
					}, {
						"@type": "ListItem",
						"position": 2,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/gsat/",
							"url":"https://sean.cat/gsat/",
							"name": "學測五選四"
						}
					}, {
						"@type": "ListItem",
						"position": 3,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/gsat/apply",
							"url":"https://sean.cat/gsat/apply",
							"name": "個人申請"
						}
					}, {
						"@type": "ListItem",
						"position": 4,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/gsat/apply110",
							"url":"https://sean.cat/gsat/apply110",
							"name": "110 學年度"
						}
					}
				]
			}
	body
		nav.ts.basic.fluid.borderless.menu.horizontally.scrollable
			.ts.container
				a.item(href=".") 首頁
				a.item.active.hide1(href="apply") 個人申請
				a.item.hide1(href="star110") 繁星推薦
				a.item.hide1(href="advanced109") 指考分發
				.right.fitted.item
					a.item(target="_blank" href="https://www.sean.taipei/") 關於作者
		header.ts.fluid.vertically.padded.heading.slate
			.ts.narrow.container
				h1.header
					| 個人申請
				.description 學測五選四 110 學年度
		div.ts.container(name="main")
			include includes/search.pug
		include includes/footer.pug
		script.
			var gsatType = "apply";
			var gsatYear = "110";
			function getDetailLink(id) {
				return 'https://www.cac.edu.tw/apply110/system/110_aColQry4qy_forapply_o5wp6ju/html/110_' + id + '.htm';
			}
		script(src="js/utils.js?v=1024")
		script(src="js/common.js?v=1116")
