doctype html
html
	head
		title 學測五選四
		meta(name="keywords" content="學測五選四,參採科目,個人申請,繁星推薦,指考分發,108學測,109學測,新制度,學測五選三,飛天喵喵神教")
		meta(name="description" content="自 108 年開始，學測最多參採四科，學測五選四網站受到全台師生廣大好評迴響，到了 109 學年度繼續更新資料，旨在提供學弟妹們好用的查詢介面，來看看您心目中的科系用了何種組合，該將準備心力放在哪些考科最有利")
		meta(property="og:title" content="學測五選四")
		meta(property="og:url" content="https://sean.cat/gsat/")
		meta(property="og:description" content="自 108 年開始，學測最多參採四科，學測五選四網站受到全台師生廣大好評迴響，到了 109 學年度繼續更新資料，旨在提供學弟妹們好用的查詢介面，來看看您心目中的科系用了何種組合，該將準備心力放在哪些考科最有利")
		meta(property="og:image" content="https://img.sean.taipei/2019/02/gsat.jpg")
		link(href="sitemap.xml" rel="sitemap")
		include includes/head.pug
		script(type="application/ld+json").
			{
				"@context": "http://schema.org",
				"@type": "BreadcrumbList",
				"itemListElement": [
					{
						"@type": "ListItem",
						"position": 1,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/",
							"url":"https://sean.cat/",
							"name": "Sean's Website"
						}
					}, {
						"@type": "ListItem",
						"position": 2,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/gsat/",
							"url":"https://sean.cat/gsat/",
							"name": "學測五選四"
						}
					}
				]
			}
	body
		nav.ts.basic.fluid.borderless.menu.horizontally.scrollable
			.ts.container
				b.item.active 首頁
				a.item(href="apply") 個人申請
				a.item(href="star") 繁星推薦
				a.item(href="advanced") 指考分發
				.right.fitted.item.hide0
		header.ts.fluid.vertically.padded.heading.slate
			.ts.narrow.container
				h1.header 學測五選四
				.description 自 108 年開始，學測最多參採四科，學測五選四網站受到全台師生廣大好評迴響，到了 109 學年度繼續更新資料，旨在提供學弟妹們好用的查詢介面，來看看您心目中的科系用了何種組合，該將準備心力放在哪些考科最有利
		.ts.container(name="main")
			h3#dev.ts.header 作者資訊
			p
				| 由
				u 交大資工
				| 
				a(target="_blank" href="https://www.sean.taipei/" onclick="ga('send', 'event', 'Outgoing', 'About', 'GSAT');") 韋詠祥
				|  於高三時整理、製作
			p
				| 前端頁面由
				| 
				a(target="_blank" href="https://gnehs.net/") 棒棒勝
				|  設計
			p
				| 網站係採用 
				a(target="_blank" rel="license" href="http://creativecommons.org/licenses/by/3.0/tw/" onclick="ga('send', 'event', 'Outgoing', 'cc', 'GSAT');") 創用 CC 姓名標示
				|  條款授權
				br
				| 程式部分全於 
				a(target="_blank" href="https://git.io/gsat" onclick="ga('send', 'event', 'Outgoing', 'GitHub', 'GSAT');") GitHub
				|  開放原始碼，採 
				a(target="_blank" href="https://github.com/Sea-n/gsat/blob/master/LICENSE" onclick="ga('send', 'event', 'Outgoing', 'MIT', 'GSAT');") MIT
				|  授權
			h3#data.ts.header 涵蓋資料範圍
			p
				| 109 學年度 
				a(href="apply109") 個人申請
				| 、
				a(href="star109") 繁星推薦
				|  資料已於 10/22 加入網站，待 11/1 公佈正式簡章會持續更新
			i 資料最後確認：2019/10/22
			h4#data108.ts.header 108 學年度
			p 目前已升級至 
				a(target="_blank" href="https://www.caac.ccu.edu.tw/cacportal/index.php" onclick="ga('send', 'event', 'Outgoing', 'caac', 'GSAT');") 大學甄選委員會
				|  2018 年底公佈之 108 學年度 
				b 個人申請
				| 、
				b 繁星推薦
				|  校系分則資料
			p 以及 
				a(target="_blank" href="https://www.uac.edu.tw/colleges.htm" onclick="ga('send', 'event', 'Outgoing', 'uac', 'GSAT');") 大學考試入學分發委員會
				b  指考分發
				|  校系分則資料
			i 資料最後確認：2019/02/25
			h3#suggestion.ts.header 功能建議
			p 如有想到哪些實用的功能，還煩請多加回饋，下面有幾種途徑，可挑選喜歡的方式回報
			ul
				li
					a(target="_blank" href="https://goo.gl/forms/0vCNxsm3t0FaMXsB2" onclick="ga('send', 'event', 'Outgoing', 'Feedback', 'GSAT');") Google 表單
					|  - 作者本人將親自閱讀每則回饋
				li
					a(target="_blank" href="mailto:gsat@sean.cat" onclick="ga('send', 'event', 'Outgoing', 'Email', 'GSAT');") E-mail
					|  - 收到信件後，會儘速回覆
				li
					a(target="_blank" href="https://t.me/S_ean" onclick="ga('send', 'event', 'Outgoing', 'Telegram', 'GSAT');") Telegram
					|  - 使用即時通訊軟體回報，最為方便
			h3#faq.ts.header 常見問題
			h4 Q1: 這些資料好像不完整欸，怎麼查看完整資料呢
			p 將手機轉橫屏後，各科系右側將顯示校系編號，點進去就是官方「校系分則詳細資料」囉！
			h4 Q2: 這讓我省了點開幾十份文件的時間，可以怎麼抖內作者
			p 您的謝意我心領了，但目前尚無收受贊助的打算喔 owo
			p 覺得實用的話，還要請多多推薦給需要的人了
			h4 Q3: 要怎麼進一步篩選呀
			p 點開查詢結果上方的 
				b 學測級分篩選
				|  即可以五標來過濾，如果您有任何想法，也歡迎從上面功能建議讓我知道 :)
			h3#posts.ts.header 社群媒體貼文
			p 好東西就該跟好朋友分享，這邊有幾個作者發的貼文，可供參考/分享使用
			ul
				li
					a(target="_blank" href="https://www.ptt.cc/bbs/SENIORHIGH/M.1571732937.A.700.html" onclick="ga('send', 'event', 'Outgoing', 'PTT', 'GSAT');") PTT 高中板
				li
					a(target="_blank" href="https://www.facebook.com/Sean0604/posts/2453588371579674" onclick="ga('send', 'event', 'Outgoing', 'Facebook', 'GSAT');") Facebook
				li
					a(target="_blank" href="https://meteor.today/article/R7tDOT" onclick="ga('send', 'event', 'Outgoing', 'Meteor', 'GSAT');") Meteor
		footer.ts.fluid.slate
			.ts.container
				p 由 
					a(target="_blank" href="https://www.sean.taipei/" onclick="ga('send', 'event', 'Outgoing', 'About', 'GSAT');") Sean 韋詠祥
					|  整理、製作
					br
					| 由 
					a(target="_blank" href="https://gnehs.net/") 棒棒勝
					|  設計
					br
					| 感謝 
					a(target="_blank" href="https://csy.教我.tw/") CSY
					|  提供精神糧食
