doctype html
html
	head
		title 繁星推薦 109 學年度 - 學測五選四
		meta(name="keywords" content="學測五選四,繁星推薦,109 學年度,學測五選三")
		meta(name="description" content="自 108 年開始，學測最多參採四科，學測五選四網站受到全台師生廣大好評迴響，到了 109 學年度繼續更新資料，旨在提供學弟妹們好用的查詢介面，來看看您心目中的科系用了何種組合，該將準備心力放在哪些考科最有利")
		meta(property="og:title" content="學測五選四 - 繁星推薦 109 學年度")
		meta(property="og:url" content="https://sean.cat/gsat/star")
		meta(property="og:description" content="自 108 年開始，學測最多參採四科，學測五選四網站受到全台師生廣大好評迴響，到了 109 學年度繼續更新資料，旨在提供學弟妹們好用的查詢介面，來看看您心目中的科系用了何種組合，該將準備心力放在哪些考科最有利")
		meta(property="og:image" content="https://img.sean.taipei/2019/02/gsat.jpg")
		include includes/head.pug
		script(type="application/ld+json").
			{
				"@context": "http://schema.org",
				"@type": "BreadcrumbList",
				"itemListElement": [
					{
						"@type": "ListItem",
						"position": 1,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/",
							"url":"https://sean.cat/",
							"name": "Sean's Website"
						}
					}, {
						"@type": "ListItem",
						"position": 2,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/gsat/",
							"url":"https://sean.cat/gsat/",
							"name": "學測五選四"
						}
					}, {
						"@type": "ListItem",
						"position": 3,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/gsat/star109",
							"url":"https://sean.cat/gsat/star109",
							"name": "繁星推薦 109 學年度"
						}
					}
				]
			}
		style .id { display: none; }
	body
		nav.ts.basic.fluid.borderless.menu.horizontally.scrollable
			.ts.container
				a.item(href=".") 首頁
				a.item.hide1(href="apply109") 個人申請
				b.item.active.hide1 繁星推薦
				.right.fitted.item
					b.item.cd
						| 學測倒數&nbsp;
						span#countdown 87
						| &nbsp天
		header.ts.fluid.vertically.padded.heading.slate
			.ts.narrow.container
				h1.header
					| 繁星推薦 
					sup Preview
				.description 學測五選四 109 學年度
		div.ts.container(name="main")
			include includes/search.pug
		include includes/footer.pug
		script(src="js/utils.js?v=1018")
		script(src="js/star109.js?v=1022")
		script(src="js/common.js?v=1022")
