@media screen and (max-width: 991px)  and (min-width: 770px) {
	#list .id,
	#list .favorites {
		display: none;
	}

	#list th.school {
		width: 80px;
	}
}

@media screen and (max-width: 770px) {
	#list .id,
	#list .favorites {
		display: none;
	}

	#list th.school {
		width: 50px;
	}

}
