* {
  position: relative;
}

body {
    top: 2em;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 87;
    background-color: #efe;
    padding: .3em .5em;
}

nav * {
    padding: 0 .3em;
}

a, a:hover {
  color: #08c;
  text-decoration: none;
}

.screenshot {
    width: 640px;
    max-width: 100%;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 30px;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 1.6em;
  width: 100%;
}

.inner-btn i {
	position: absolute;
  cursor: pointer;
	right: 3%;
	z-index: 10;
	top: 10px;
}

i.info {
	background-image: url(img/question.svg);
	width: 1em;
	height: 1em;
	top: 0.1em;
	position: absolute;
  cursor: pointer;
	margin-left: 20px;
}

i.rand {
	background-image: url(img/random.svg);
	width: 2em;
	height: 2em;
}

i.clear {
	background-image: url(img/trash.svg);
	width: 1.75em;
	height: 2em;
}

.autocomplete {
  margin-bottom: 30px;
}

@media screen and (max-width: 360px) {
  .autocomplete {
    width: 100%;
  }
}

@media screen and (min-width: 360px) and (max-width: 512px) {
  .autocomplete {
    margin-left: 5%;
    width: 90%;
  }
}

@media screen and (min-width: 512px) and (max-width: 768px) {
  .autocomplete {
    margin-left: 10%;
    width: 80%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .autocomplete {
    margin-left: 20%;
    width: 60%;
  }
}

@media screen and (min-width: 1400px) {
  .autocomplete {
    margin-left: 30%;
    width: 40%;
  }
}

.autocomplete-items {
  border: 1px solid #ddd;
  border-top: none;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.autocomplete-items div:hover {
  background-color: #eee;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: white;
}

td {
	text-align: center;
}

@media screen and (max-width: 1024px) {
  #list {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  #list {
    margin-left: 10%;
    width: 80%;
  }
}

#no-data p {
  color: red;
  font-size: 2em;
}

#no-data button {
  font-size: 1.2em;
  background-color: lightGreen;
  border: none;
  padding: 14px 24px;
}

#show-more button {
	font-size: 1.2em;
	padding: 10px 16px;
	margin-top: 20px;
	background: deepskyblue;
	border: none;
}

footer {
	margin: 20px -8px -10px -8px;
	text-align: center;
	padding: 0 0 5px 0;
	background-color: #eee;
	border-top: 1px solid #ddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
