footer.ts.fluid.slate(style='margin-top:10px')
	.ts.container
		.ts.grid
			.stretched.column
				p 由 
					a(target="_blank" href="https://www.sean.taipei/" onclick="ga('send', 'event', 'Outgoing', 'About', 'GSAT');") Sean 韋詠祥
					| 、
					a(target="_blank" href="http://jerryh.su/") Jerry 許家維
					| 、
					a(target="_blank" href="https://gnehs.net/") 廖群勝
					| 、
					a(target="_blank" href="https://nella17.tw/") Allen Guan
					|  整理、設計
			.column
				a(href='./#suggestion') 功能建議
script(src="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.js")
script.
	ts('.ts.dropdown:not(.basic)').dropdown();
