footer.ts.fluid.slate(style='margin-top:10px')
	.ts.container
		.ts.grid
			.stretched.column
				p 由 
					a(target="_blank" href="https://www.sean.taipei/" onclick="ga('send', 'event', 'Outgoing', 'About', 'GSAT');") Sean 韋詠祥
					| 、
					a(target="_blank" href="http://jerryh.su/") Jerry 許家維
					| 、
					a(target="_blank" href="https://gnehs.net/") 棒棒勝
					|  整理、設計
					br
					| 感謝 
					a(target="_blank" href="https://csy.教我.tw/") CSY
					|  提供精神糧食
			.column
				a(href='./#suggestion') 功能建議
script(src="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.js")
script(type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b230f9a3c1fd5f7")
script.
	ts('.ts.dropdown:not(.basic)').dropdown();
