meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
link(rel="icon" href="https://www.sean.taipei/favicon.ico" sizes="32x32")
link(rel="icon" href="https://www.sean.taipei/icon-192.jpg" sizes="192x192")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
meta(property="og:type" content="website")
meta(property="og:site_name" content="Sean's Website")
meta(property="og:image" content="https://img.sean.taipei/2019/02/gsat.jpg")
meta(property="og:description" content="學測自 108 年開始最多參採四科，學測五選四網站旨在提供學弟妹們好用的查詢介面，受到全台師生廣大好評迴響，來看看您心目中的科系用了何種組合，該將準備心力放在哪些考科最有利")
meta(name="description" content="學測自 108 年開始最多參採四科，學測五選四網站旨在提供學弟妹們好用的查詢介面，受到全台師生廣大好評迴響，來看看您心目中的科系用了何種組合，該將準備心力放在哪些考科最有利")
link(href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css" rel="stylesheet")
link(href="//cdn.rawgit.com/gnehs/Tocas-UI-Xiaoan/master/ts.xiaoan.min.css" rel="stylesheet")
link(href="./style.css?v=0125" rel="stylesheet")
// Google Analytics
script.
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)
	},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-100002738-1', 'auto');
	ga('send', 'pageview');
// End Google Analytics
